<footer>
  <div class="container footer-container">


    <div class="footer-links">
      <a href="{{ site.baseurl }}/privacy-policy.html" target="_blank">Privacy</a>
      <a href="{{ site.baseurl }}/terms.html" target="_blank">Terms</a>
      <a href="#" data-modal="credits">Credits</a>
    </div>


    <div class="copyright">
      <span id="current-year"></span> <a href="https://www.infonominal.com/" target="_blank">© Infonominal</a>
      &nbsp;All rights reserved.
    </div>
</footer>

<!-- Credits Modal -->
<div id="credits" class="modal">
  <div class="modal-content standard-content">
    <button class="modal-close">&times;</button>
    <h3 style="margin-top: 0;">Credits</h3>
    <p>We want to thank:</p>
    <ul>
      <li><a href="https://www.streamlinehq.com/" target="_blank">Streamline</a> for generously
        providing their artwork.</li>
    </ul>

  </div>
</div>