<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title | default: site.title }}</title>
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/favicons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{{ site.baseurl }}/favicons/favicon.svg" />
    <link rel="shortcut icon" href="{{ site.baseurl }}/favicons/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/favicons/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Marbles" />
    <link rel="manifest" href="{{ site.baseurl }}/site.webmanifest" />
    <link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet">

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/stylesheets/styles.css" />
  </head>

  <body>
    {{ content }}
  </body>

</html>
